*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  list-style: none;
  
  -webkit-tap-highlight-color: transparent;
  
  text-decoration: none;
  
  border: none;
  outline: none;
  
}

html{
  
  /*this can changes the rem unit in each element*/ 
  
  /*use rem unit to make sure a more predictable layout,at gaps,paddings and widths*/ 
  font-size: clamp(16px,3vw,60px);
  
}

html, body{
  
  min-height: 100dvh;
  
}

:root {
  /* Backgrounds */
  --bg-primary: #1F1F1F;       /* dark but soft background */
  --bg-card: #2C2C2F;          /* slightly lighter card background */
  
  --inputBg: #333333; 

  /* Text colors */
  --text-primary: rgb(237, 237, 237);   /* soft white for main text */
  --text-secondary: #757575;   /* muted gray for secondary text */

  /* Accent / highlight */
  --orangeAccent: rgb(255, 117, 24);  /* your main accent color */
}

body{
  
  background: var(--bg-primary);
  
  color: var(--text-primary);
  
}

#logiConteiner{
  
  /*try fix it by rewriting body*/
  min-height: 100dvh;
  
  padding: 0rem 2rem;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
}

#loginCard{
  
  min-width: 100%;
  max-width: 100%;
  
  background: var(--bg-card);
  
  box-shadow: 2px 2px 20px -5px rgba(0,0,0,0.5);
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  padding: 2rem 1rem;
  
  border-radius: 10px;
  
}

#logoConteiner h1{
  
  margin-bottom: 2.5rem;
  
}

#formConteiner{
  
  min-width: 100%;
  max-width: 100%;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: clamp(2rem,2rem,3rem);
  
  padding: clamp(0rem,0.8rem,2rem) clamp(0.8rem,2rem,4rem);
  
}

#conteinerFields{
  
  min-width: 100%;
  max-width: 100%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.8rem;
  
  padding: 0rem 0rem;
  
}

#conteinerFields .fieldConteiner{
  
  /*try make the input fields increase as well*/ 
  min-width: 90%;
  
  padding: 0rem 0rem;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  
}

.fieldConteiner input{
  
  /*set padding,font,bg and color*/
  min-width: 100%;
  max-width: 100%;
  
  padding: 0.7rem 0.8rem;
  
  border-radius: 18px;
  
  background: var(--inputBg);
  
  box-shadow: 0px 2px 20px -8px rgba(0,0,0,0.4);
  
  color: whitesmoke;
  
  font-size: clamp(0.8rem,0.9rem,1.2rem);
  
}

input::placeholder{
  
  opacity: 0.6;
  
}

.fieldConteiner label{
  
  align-self: flex-start;
  margin-left: 18px;
  
  font-size: 0.8rem;
  
  opacity: 0.9;
  
}

/*general links config*/

/*make more specifc than the CDN stylesheet*/ 
a{
  
  font-size: clamp(0.8rem,0.9rem,1.6rem); 
  color: var(--text-primary);
  
  transition: all 0.3s ease;
  
  cursor: pointer;
  
  text-decoration: none;
  
}

a:hover{
  
  color: var(--orangeAccent);
  
}

a:active{
  
  transform: scale(0.9) translateY(1px);
  
}

#rememberPlusPassword{
  
  min-width: 100%;
  max-width: 100;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  
}

#rememberMe{
  
  font-size: clamp(0.8rem,0.9rem,1.6rem); 
  
}

#socialLogin{
  
  max-width: 200px;
  min-width: 100%;
  
  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  
  
}

#socialLogin button{
  
  /*min-width has more priority than max one,so,try use fixes wodth*/ 
  max-width: 400px;
  width: 100%;
  
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  gap: clamp(0.8rem,0.8rem,1rem);
  
  text-align: left;
  
  padding: clamp(0.8rem,0.5rem,1rem) clamp(1rem,0.9rem,1.9rem);
  
  /*more specific*/ 
  
  font-size: clamp(1rem,0.4rem,1.2rem);
  
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  
}

#loginGoogle{
  
  background: #DB4437;
  color: var(--text-primary);
  
  transition: all 0.3s ease;
  
}

#loginGoogle:hover{
  
  background: #C62828;
  
}

#loginFacebook{
  
  background: #1877F2;
  color: var(--text-primary);
  
  transition: all 0.3s ease;
  
}

#loginFacebook:hover{
  
  background: #0D47A1;
  
}

#loginGitHub{
  
  background: #24292E;
  color: var(--text-primary);
  
  /*the variable color value must be as rgba/rgb*/ 
  border: 0.5px solid rgba(57, 255, 20,0.3);
  
  transition: all 0.3s ease;
  
}

#loginGitHub:hover{
  
  background: #000000;
  
}

